[smartsoft]

[component]

name		smartVisualizationMultiClient

[visualizationserver]

name		smartVisualizationServer

[dataservers]

number		3

[dataserver-1]

name		fawMAidBaseServer
service		basestate
datatype	basestate
interval	1

# black
colour		0x000000

# a set of polygonal chains.
# the syntax is 
# <num-chains> ( <num-points> (<x> <y>) * ) *
baseshape	2 \
		7 -0.330 -0.320 0.780 -0.320 0.875 -0.215 \
		  0.875 0.215  0.780  0.320 -0.330  0.320 -0.330 -0.320 \
		4 0 -0.1 0.1 0 0 0.1 0 -0.1

turretshape	0

[dataserver-2]

name		fawMAidBaseServer
service		sonar
datatype	sonardata
interval	0

# configuration query service
config		sonar

# dark blue
colour	0x0000CC

[dataserver-3]
name		smartLaserServer
service		scan
datatype	mobilelaserscan
interval	0
colour		0xFF0000
